@import url("https://use.frontawsome.com/releases/v6.5.1/css/all.css"); 
 
@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

html, a {
	text-decoration: none;
}
html, body {  
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: helvetica, sans-serif; 
}
.shop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: auto;
	margin-top: 25px;
	font-family: helvetica, sans-serif;
}
.shop h1 {
	justify-self: center;
	align-self: center;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 0px;
}
.shop h3 {
	justify-self: center;
	align-self: center;
	font-size: 35px;
	font-weight: 350;
	margin-top: 10px;
	margin-bottom: 50px;
}
.shop-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: 0px;
	height: auto;
	flex-wrap: wrap;
	gap: 3em;
	width: 1600px;
	justify-self: center;
	margin-bottom: 100px;
}
.shop-card3 {
	height: 450px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	margin: 5px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #d40000;
}
.shop-card2 {
	height: 450px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	margin: 5px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #d40000;
}
.shop-card1 {
	height: 450px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	margin: 5px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #d40000;
}
.img-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 344px;
	height: 310px;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #f1f3f5;
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.img-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	z-index: 2;
	justify-self: center;
	align-self: center;
}
.colour-line1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: inherit;
	min-height: 60px;
	background-color: #d40000;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.colour-line2 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: inherit;
	min-height: 60px;
	background-color: #d40000;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.colour-line3 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: inherit;
	min-height: 60px;
	background-color: #d40000;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.colour-title {
	margin: 0px;
	font-size: 30px;
	font-weight: 600;
	color: white;
}
.img-container .img-box img {
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}
.product-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f3f5;
	width: 344px;
	height: 137px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}
.product-text {
	color: black;
   	margin: 0px;
   	max-width: 300px;
  	font-size: 28;
  	font-weight: 500;
 	font-family: Georgia, serif;
 	text-align: center;
  	translate: 0 -30px;
}

.head-container {
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #000;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	height: 110px;
	justify-content: center;
}
.header-links {
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 50px;
	align-items: center;
	justify-content: space-evenly;
}
.header-links a {
	color: #F1F1F1;
	font-family: helvetica, sans-serif;
	font-size: 23px;
	font-weight: 700;
	text-decoration: none;
	tranistion: 0.3s;
}
.header-links a:hover {
	color: #dc2430;
}
.head-container .head-logoBx {
	position: relative;
	width: 400px;
	height: 50px;
	z-index: 1;
	justify-items: center;
	align-items: center;
}
.head-container .head-logoBx img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	object-fit: contain;
}
.bar {
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	background: linear-gradient(-45deg, #b62020, #cb2424, #fe2e2e, #fe5757, #fe8181);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #444444;
	margin: 0px;
	height: 200px;
	margin-top: 15px;
}
.f-container{
	display: flex;
	flex-direction: row;
	height: 200px;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
	justify-content: space-evenly;

}
.about-content{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.product-content-f{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.contact-content{
	display: flex;
	flex-direction: column;
	align-content: center; 
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.about{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}
.products{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}
.footer a:link {
  	text-decoration: none;
  	color: #F1F1F1;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer a:visited {
  	text-decoration: none;
	color: #F1F1F1;
}
